

// BREAKPOINTS
$breakpoint-small: 768px;
$breakpoint-medium: 1050px;
$breakpoint-large: 1250px;

 
/* GLOBAL RESET*/ 
* { box-sizing: border-box;}

// VARIABLES
$color-text-body: rgba(0,0,0,.4);
$color-text-headings: rgb(69, 69, 69);
$color-accent: rgb(72, 158, 122);
$color-link: rgb(138, 198, 221);
$color-link-darker: rgb(72, 158, 122);
$color-accent-light: rgb(146, 145, 145);



$color-lightgrey: rgba(0, 0, 0,.5);

$font-family-sans: 'montserrat', Helvetica, Arial, Helvetica, sans-serif;
$font-family-serif: 'big-caslon-fb', Georgia, 'Times New Roman', Times, serif;
$mycolor: pink;

// IMPORTS
@import "partials/toc"; 
@import "partials/typography";
@import "partials/helpers";
@import "partials/buttons";
@import "partials/media"; 
@import "partials/layout";  
@import "partials/grid";
@import "partials/structure";
@import "partials/sitenav";
@import "partials/animations";

/* CUSTOM STYLING */
.km-centered-quote {
    text-align: center;
  }
  .km-image-right {
    text-align: right;
  }
  .km-image-right img {
    max-width: 50%;
  }

  .km-text-centered-right {
    max-width: 500px;
    margin: 0 auto;
    text-align: right;
  }

  .km-image-left {
    text-align: left;
  }

  .km-image-left img {
    max-width: 50%;
  } 

  body {
    background-image: url(../img/background-main.png);
    background-repeat: no-repeat; 
  }

  .email-input {
    background-color: rgb(188, 190, 191);
    display: inline-block;
    padding: 1em;
    border-radius: 30px;
    margin: 1em 0;
  }

  .footer-mailing-list {
    color: white;
    text-align: center;
    background-color: rgb(51, 42, 42); 
    padding: 3em 0;
    p{
      max-width: none;
    }
  }