// TO HIDE SOMETHING VISUALLY
.hide-visually {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.sideways {
    transform: rotate(-90deg) translate(-100%,0);
    transform-origin: left bottom;
    display: inline-block;
    padding: 8em; 
}